<!-- About start -->
<section class="module"><div class="container"><div class="row"><div class="col-sm-12"><p><strong>Móveis Criativa</strong></p>
  <p>Rua Major Gote, 399 &#8211; Centro &#8211; Patos de Minas &#8211; MG</p>
  <p>CEP 38700-107</p>
  <p>+55 (34) 3823-4514</p>
  <p><strong>Email:</strong> <em>contato@moveiscriativa.com.br</em></p>
  <p><strong>Instagram:</strong> <em>@moveiscriativa</em></p>
  <p><strong>Facebook:</strong> <em>Facebook.com/MoveisCriativaa</em></p>
  </div></div></div></section>				
<!-- About end -->