<!--Footer-->
<footer class="page-footer bg-dark py-2 fixed-bottom text-white text-center">
      <!--Footer Links-->
      <div class="container-fluid py-1">
        <div class="footer-socials mb-0 text-center">
          <!--Youtube-->
          <a href="http://youtube.com/moveiscriativa" class="icons-sm ins-ic"><i class="fa fa-youtube fa-lg text-light mr-md-2"> </i></a>
          <!--Facebook-->
          <a href="http://facebook.com/MoveisCriativaa" class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg text-light mr-md-2"> </i></a>
          <!--Instagram-->
          <a href="http://instagram.com/moveiscriativa" class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg text-light mr-md-2"> </i></a>
        </div>     
      </div>
      <!--/Footer Links-->
  
      <!--Copyright-->
      <div class="footer-copyright">
          <div class="container-fluid py-1 text-light">
              © 2018 Copyright: <a href="#" routerLink="/" class="text-light"> Móveis Criativa </a>
          </div>
      </div>
      <!--/Copyright-->
  
  </footer>
  <!--/Footer-->